<footer>
	<div class="content-wrapper">
		<div class="left">
			{{include src="legal.hbs"}}
		</div>
		<div class="right">
			{{include src="subscribe.hbs"}}
			{{include src="social.hbs"}}
		</div>
	</div>
	<div class="content-wrapper">
		{{include src="poweredby.hbs"}}
	</div>
</footer>