<header>

	<div class="content">

		<a href="/" class="title">
			{{site.theme.title}}
		</a>

		{{#if site.theme.description}}
			<div class="description">
				{{site.theme.description}}
			</div>
		{{/if}}

		{{include src="subscribe.hbs"}}

	</div>

</header>