<header>

	<div class="content-wrapper">

		<a href="/" class="title" title="{{site.name}} Homepage">
			<h1>{{site.theme.title}}</h1>
		</a>

		{{#if site.theme.description}}
			<div class="description">
				{{site.theme.description}}
			</div>
		{{/if}}

		{{include src="subscribe.hbs"}}

	</div>

</header>