<div class="powered-by">
	<a href="https://pinpoint.com/?utm_source=referral&utm_campaign={{site.id}}" target="_blank" rel="noopener nofollower" title="Powered by Pinpoint">
		<span class="leading">We run on</span>
		{{logo width="22" height="21"}}
		<span>Pinpoint</span>
	</a>
</div>