<a href="https://home.pinpoint.com/subscription/subscribe/{{site.id}}" class="subscribe invisible" data-subscribe="true" title="Subscribe to Updates">
	<span class="icon">{{fontawesome-icon icon="envelope"}}</span>
	<span>Subscribe to updates</span>
</a>