<div class="toolbar">
  <div class="home-button">
    <a href="/">{{fontawesome-icon icon="home"}}</a>
  </div>
  <div class="theme-switch">
    <button class="mode"></button>
  </div>
  {{include src="search.hbs"}}
</div>