<div class="authors">
  {{#each changelog.authors}}
    <div class="author">
      {{#if avatarUrl}}
        <div class="avatar">
          <img src="{{avatarUrl}}" />
        </div>
      {{/if}}
      <div class="name">
        {{firstName}}
        {{lastName}}
      </div>
    </div>
  {{/each}}
</div>