<p class="text-center sm:text-left text-sm text-gray-500 copyright">
  {{site.theme.copyright}}
</p>
<p class="text-center sm:text-left text-sm text-gray-500 address">
  {{site.mailingAddress}}
</p>
<p class="text-center sm:text-left poweredby">
  <a
    class="text-sm mt-6 inline-flex items-center"
    href="https://changelog.so/?utm_source=referral&utm_campaign={{site.id}}"
  >
    {{logo width="22" height="21"}}
    <span class="text-gray-500 hover:text-purple-100 ml-2">Powered by Changelog</span>
  </a>
</p>