<div class="container">
  <div class="subscribe">{{include src="../../subscribe.hbs"}}</div>
  <div class="social">{{include src="../../social.hbs"}}</div>
  <div class="legal">{{include src="../../copyright.hbs"}}</div>
</div>