<p class="text-center md:text-left subscribe">
  <a
    class="text-gray-500 text-sm hover:text-purple-100"
    href="{{site.url}}/subscription/subscribe/{{site.id}}"
  >
    <span class="mr-1">{{fontawesome-icon icon="envelope"}}</span>
    Subscribe to updates
  </a>
</p>