<div class="flex items-center w-full">
  <div class="text-gray-400 dark:text-gray-700 block md:hidden home-button">
    <a href="/">{{fontawesome-icon icon="home"}}</a>
  </div>
  <div class="ml-auto theme-switch">
    <button class="mode"></button>
  </div>
</div>