/**
 * colors
 */

 /* regular / light theme */
 :root {
  /* page */
  --page-bg-color: white;
  --page-text-color: #3F3F46; /* gray-700 */
  --page-secondary-text-color: #A1A1AA; /* gray-400 */
  --page-highlight-color: #6366F1; /* indigo-500 */

  /* header */
  --header-bg-color: var(--page-bg-color);
  --header-title-color: var(--page-text-color);
  --header-description-color: var(--page-secondary-text-color);
  --header-subscribe-color: var(--page-highlight-color);

  /* content */
  --section-bg-color: #FAFAFA; /* gray-50 */
  --section-border-color: #E4E4E7; /* gray-200 */

  --tile-bg-color: white;
  --tile-title-color: var(--page-text-color);
  --tile-date-color: var(--page-secondary-text-color);
  --tile-summary-color: #71717A; /* gray-500 */
  --tile-info-color: var(--page-secondary-text-color);
  --tile-link-color: var(--page-highlight-color);
  
  --article-bg-color: var(--page-bg-color);
  --article-text-color: var(--page-text-color);
  --article-info-color: #71717A; /* gray-500 */
  --article-link-color: var(--page-highlight-color);
  --article-border-color: var(--section-border-color);
  --article-block-bg-color: var(--section-bg-color);

  /* footer */
  --footer-bg-color: #18181B; /* gray-900 */
  --footer-text-color: #71717A; /* gray-500 */
}

/* dark theme override */
.dark:root {
  /* page */
  --page-bg-color: #18181B; /* gray-900 */
  --page-text-color: #F4F4F5; /* gray-100 */
  --page-secondary-text-color: #A1A1AA; /* gray-400 */
  --page-highlight-color: #818CF8; /* indigo-400 */

  /* content */
  --section-bg-color: #202023; /* gray-850 */
  --section-border-color: #3F3F46; /* gray-700 */

  --tile-bg-color: #27272A; /* gray-800 */
  --tile-summary-color: #D4D4D8; /* gray-300 */

  --article-info-color: #D4D4D8; /* gray-300 */

  /* footer */
  --footer-bg-color: black;
}


/**
 * global
 */

body {
  @apply transition-colors duration-200;
  background-color: var(--page-bg-color);
  color: var( --page-text-color);
}

h1, h2, h3, h4 {
  @apply font-semibold;
  color: var( --page-text-color);
}

.page,
.home,
.search-results {
  @apply flex flex-col w-full h-screen;
}

/* content wraps inside sections to allow center alignment */
.content-wrapper{
  @apply mx-auto px-4 md:px-10 max-w-7xl w-full flex-shrink-0;
}


/**
 * toolbar
 */

.toolbar {
  @apply py-5 transition-colors duration-200;
  background-color: var(--header-bg-color);
}

.toolbar > .content-wrapper {
  @apply w-full flex justify-between items-center;
}

.toolbar .right {
  @apply flex items-center;
}

.toolbar .logo img {
  @apply w-8 h-8 rounded-full;
}

.search {
  @apply h-8 w-48 flex items-center rounded-full border border-gray-300 dark:border-gray-600 text-gray-300 dark:text-gray-600;
}

.search + * {
  @apply ml-1 md:ml-4;
}

.search:focus-within {
	@apply bg-gray-300 dark:bg-gray-600 border-gray-300 dark:border-gray-600 text-white dark:text-gray-200;
}

.search svg {
  @apply ml-3 mr-2;
}

.search-input {
  @apply pr-2 py-1 w-full bg-transparent border-0 placeholder-gray-300 dark:placeholder-gray-600 text-white dark:text-gray-200;
}
.search-input:focus {
  @apply placeholder-gray-100 dark:placeholder-gray-500;
}


/**
 * header
 */

header {
  @apply py-8 w-full mx-auto flex items-center justify-center transition-colors duration-200;
  background-color: var(--header-bg-color);
}

header .content-wrapper {
  @apply flex-grow flex flex-col items-center;
}

header .title {
  @apply text-4xl md:text-5xl text-center font-extrabold transition-all duration-200;
}
header .title:hover {
  filter: brightness(1.3);
}
.dark header .title:hover {
  filter: brightness(0.7);
}

header .title h1 {
  color: var(--header-title-color);
}


header .description {
  @apply mt-2 md:mt-4 text-center;
  color: var(--header-description-color);
}

header .subscribe {
  @apply mt-4 text-center inline-flex items-center text-sm transition-all duration-200;
  color: var(--header-subscribe-color);
}
header .subscribe:hover {
  filter: brightness(0.7);
}
.dark header .subscribe:hover {
  filter: brightness(1.3);
}


header .subscribe .icon {
  @apply mr-2 text-base;
}


/**
 * footer
 */

footer {
  @apply py-8 md:py-14 flex-shrink-0 text-sm;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}

footer > .content-wrapper {
  @apply w-full flex flex-col md:flex-row justify-start md:justify-between;
}

footer p {
  @apply mt-4 leading-normal;
}

footer a {
  @apply transition-all duration-200;
}
footer a:hover {
  filter: brightness(1.5);
}

footer > .content-wrapper > .right {
  @apply flex flex-col items-center md:items-end mt-8 md:mt-12;
}

footer .logo img {
  @apply w-8 h-8 rounded-full;
}

footer .subscribe {
  @apply flex items-center;
}

footer .subscribe .icon {
  @apply mt-px mr-2;
}

footer .social {
  @apply mt-4 flex justify-center md:justify-start space-x-6;
}

footer .social .title {
  @apply sr-only;
}

footer .social .icon {
  @apply h-6 w-6;
}

footer .legal {
  @apply flex flex-col items-center md:items-start text-center md:text-left mt-8 md:mt-0;
}

footer .legal .links {
  @apply flex justify-center items-center md:justify-start flex-row divide-x divide-gray-700 space-x-2;
}

footer .legal .links a:not(:first-child) {
  @apply pl-2;
}

footer .powered-by {
  @apply mt-8 flex-grow flex justify-center;
}

footer .powered-by a {
  @apply text-sm inline-flex items-center hover:text-indigo-500;
}
footer .powered-by a:hover {
  filter: none;
}


/**
 * main content
 */

main {
  @apply mt-12 md:mt-12 flex-grow;
}


/**
 * home page and tiles
 */

.home > main .content-wrapper {
  @apply mx-auto flex flex-col md:flex-row items-start;
}

.home main .latest {
  @apply py-14 transition-colors duration-200;
  background-color: var(--section-bg-color);
}

.home main .recent {
  @apply py-14;
}

.home main .latest h1,
.home main .recent h1 {
  @apply flex-shrink-0 mb-10 md:mb-0 w-auto md:w-1/4 mr-0 md:mr-4 text-2xl;
}

.home main .recent h1 span {
  @apply ml-2 text-base font-normal;
  color: var(--page-secondary-text-color);
}

.tiles {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8 grid-flow-row;
}

.tile {
  @apply rounded-lg shadow-md hover:shadow-lg overflow-hidden flex flex-col transition-shadow duration-200;
  background-color: var(--tile-bg-color);
}

div.latest .tile {
  @apply flex-1;
}

.tile > img {
  @apply lg:h-48 md:h-36 w-full object-cover object-center;
}

.tile .empty {
  @apply lg:h-48 md:h-36 w-full bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400;
}

.tile > .container {
  @apply p-6 flex flex-col flex-1;
}

.tile > .container > h2 {
  @apply text-lg transition-colors duration-200;
  color: var(--tile-title-color);
}

.tile:hover > .container > h2 {
  color: var(--tile-link-color);
}

.tile > .container > .date {
  @apply mt-2 text-xs;
  color: var(--tile-date-color);
}

.tile > .container > .taglist {
  @apply mt-3;
}

.tile > .container > .headline {
  @apply mt-3 flex-grow leading-relaxed ;
  color: var(--tile-summary-color);
}

.tile > .container section {
  @apply mt-4 flex items-center flex-wrap;
  color: var(--tile-info-color);
}

.tile > .container section svg {
  @apply h-4 w-4;
}

.tile > .container section .read {
  @apply  inline-flex items-center ;
  color: var(--tile-link-color);
}

.tile > .container section .read svg {
  @apply ml-2;
}

.tile > .container section .stats {
  @apply flex items-center ml-auto;
}

.tile > .container section .pageviews {
  @apply mr-3 pr-3 py-1 inline-flex items-center ml-auto leading-none text-sm;
}

.tile > .container section .pageviews svg {
  @apply mr-1;
}

.tile > .container section .claps {
  @apply inline-flex items-center leading-none text-sm;
}

.tile > .container section .claps svg {
  @apply h-6 w-6 mr-1;
}


/**
 * pagingation
 */
 .pagination {
  @apply pb-14 md:text-lg;
}

.pagination > .content-wrapper > .content {
  @apply md:ml-[calc(25%+1rem)] flex-grow flex justify-between items-center space-x-10;
}

.pagination > .content-wrapper > .content.next-only {
  @apply justify-end;
}

.pagination > .content-wrapper > .content > div {
  @apply min-w-0 flex;
  flex: 1 1 50%;
}

.pagination .next {
  @apply justify-end;
}

.pagination a {
  @apply min-w-0 inline-flex items-center transition-all duration-200;
  color: var(--page-highlight-color);
}
.pagination a:hover {
  filter: brightness(1.5);
}

.pagination a span:not(.icon) {
  @apply truncate;
}

.pagination .previous .icon {
  @apply mr-2;
}

.pagination .next .icon {
  @apply ml-2;
}


/**
 * article container and aside
 */

.page > main > .content-wrapper > section {
  @apply pt-14 md:py-14 flex flex-col md:flex-row border-t transition-colors duration-200;
  border-color: var(--section-border-color);
}

.page main aside {
  color: var(--article-info-color);
}

.page main aside.left {
  @apply mb-4 flex md:flex-col justify-between flex-wrap md:flex-nowrap md:justify-start items-center md:items-start md:mb-0 md:w-1/4 md:mr-4 flex-shrink-0;
}

.page main aside .back {
  @apply mb-10 hidden md:block;
}

.page main aside .date {
  @apply mb-4 md:mb-0 text-base font-semibold flex-grow md:flex-initial flex-shrink-0 w-full md:w-auto;
}

.page main aside .authors {
  @apply md:mt-6 mb-4 md:mb-0 flex flex-wrap md:block;
}

.page main aside .author {
  @apply mr-3 md:mr-0 my-2 last:mr-0 md:last:my-0 flex flex-row items-center;
}

.page main aside .author .avatar {
  @apply mr-2;
}

.page main aside .author .name {
  @apply whitespace-nowrap;
}

.page main aside.left .taglist {
  @apply mt-0 md:mt-10 mb-6 md:mb-0;
}

.page main aside .highfive {
  @apply relative cursor-pointer flex items-center w-10 select-none;
}

.page main aside.left .highfive {
  @apply hidden md:flex mt-8;
}

.page main aside .highfive .image {
  @apply w-12 h-12 inline-flex items-center justify-center transition-all;
}

.page main aside .highfive .image.animating {
  color: var(--page-highlight-color);
}

.page main aside .highfive .counter {
  @apply ml-2 opacity-100 transition-all select-none;
}

.page main aside .highfive .counter.animating {
  @apply opacity-0;
}

.page main aside .highfive .counter-animation {
  @apply opacity-0 -left-10 transition-all absolute bg-gray-700 rounded-full px-3 top-2 text-white text-sm py-1 select-none;
}

.page main aside .highfive .counter-animation.animating {
  @apply opacity-100 left-12;
}

.page main aside.bottom {
  @apply mb-10 flex md:hidden justify-between items-center;
}

.page article {
  @apply min-w-0;
}

.taglist {
  @apply gap-x-2 gap-y-2 flex justify-start flex-grow-0 flex-wrap text-xs font-semibold;
}

.taglist .tag {
  @apply py-1 px-2 inline-flex items-center rounded-full min-w-max text-xs;
}

.taglist .tag .icon {
  @apply ml-1.5;
}

.tag.clickable {
  @apply cursor-pointer;
}

.share {
  @apply flex items-center space-x-2;
}

.page main aside.left .share {
  @apply hidden md:flex mt-8;
}

.share-button {
  @apply w-8 h-8 flex flex-col justify-center items-center rounded-lg text-white;
}

.share-button.twitter {
  @apply bg-[#55acee] hover:bg-[#2795e9];
}

.share-button.facebook {
  @apply bg-[#3b5998] hover:bg-[#2d4373];
}

.share-button.linkedin {
  @apply bg-[#0077b5] hover:bg-[#046293];
}

.share-button.email {
  @apply bg-gray-500 hover:bg-gray-600;
}


/**
 * article
 */

.covermedia:not(:empty) {
  @apply mb-10 relative flex justify-center;
}

.covermedia .image > img {
  @apply object-cover object-center;
}

article.changelog {
  min-height: 500px;
}

.ProseMirror * {
  @apply leading-loose;
}

.ProseMirror .heading,
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4 {
  color: var(--article-text-color);
}

.ProseMirror p,
.ProseMirror li {
  @apply text-lg leading-loose;
  color: var(--article-text-color);
}

article.changelog div.iframe_node {
  @apply my-8 p-3 border rounded;
  background-color: var(--article-block-bg-color);
  border-color: var(--article-border-color);
}

article.changelog .ProseMirror .hr > div > hr {
  border-color: var(--article-border-color);
}

article.changelog .ProseMirror .toggle > .options > .icon {
  background-color: var(--article-bg-color);
}

main .changelog > section p > a[href]:not(.mark-color) {
  @apply underline;
  color: var(--article-link-color);
}

.main .changelog > section mark a[href],
.dark main .changelog > section mark a[href] {
  color: unset;
}


/**
 * search results
 **/
 .loader {
  @apply absolute left-0 top-0 right-0 bottom-0 flex items-center justify-center;
  background-color: var(--page-bg-color);
  color: var(--page-text-color);
}

.loader .inner {
  @apply w-12 h-12 border-3 rounded-full animate-ping;
  border-color: var(--page-text-color);
}

.search-results > main {
   @apply py-14 transition-colors duration-200;
   background-color: var(--section-bg-color);
 }

 .search-results > main .content-wrapper h1 {
  @apply mb-8 text-2xl;
}

.search-results .filters {
  @apply mb-14;
}

.no-results {
  @apply mt-20 md:mt-28 flex flex-col items-center;
}

.no-results h2 {
  @apply mb-10 text-4xl;
}

.no-results a {
  @apply flex items-center;
  color: var(--page-secondary-text-color);
}

.no-results a .icon {
  @apply mr-2;
}


/**
 * coming soon
 */

.home > main .coming-soon > .content-wrapper {
  @apply flex-col items-center;
}

.coming-soon {
  @apply my-10;
}

.coming-soon h1 {
  @apply text-2xl text-center;
}

.coming-soon .image {
  @apply my-20 w-5/6;
}

